<form class="add-new-skeleton">
  <label for="">name</label>
  <input class="form-control" type="text" name="name" value="" #newSkeletonName>
  <label for="">description</label>
  <input class="form-control" type="text" name="name" value="" #newSkeletonDescription>
  <label for="">weight</label>
  <input  class="form-control" type="text" name="name" value="" #newSkeletonWeight>
  <button class="add-button btn btn-primary btn-block" (click)="addSkeleton(newSkeletonName,newSkeletonDescription,newSkeletonWeight)">Add</button>
</form>
